body {
    background-color: #f5eedc;
    background-image: url("../img/background.png");
    background-repeat: repeat;
}

h1, h2 {
    color: #d25756;
}

header {
    background: linear-gradient(335deg, transparent 75px, #ffffff 20px);
}

.price-btn {
    box-shadow: #ffffff 0 3px;
}

.contact-btn {
    color: #ffffff;
    font-size: 2.3rem;
    height: 90px;
    width: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: #f5eedc 0 6px;
    transition: ease .3s;
}

.contact-btn:hover {
    box-shadow: none;
}

.instagram-btn {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.instagram-btn:hover {
    background: radial-gradient(circle at 30% 107%, #e4dc89 0%, #ccc478 5%, #da4d3f 45%, #b71f88 60%, #214ac1 90%);
}

.phone-btn {
    background: radial-gradient(circle at 30% 107%, #c297fd 0%, #97b7fd 5%, #4961fd 45%, #2454d6 60%, #285AEB 90%);
}

.phone-btn:hover {
    background: radial-gradient(circle at 30% 107%, #9976c8 0%, #768fc8 5%, #3d51d4 45%, #2454d6 60%, #214ac3 90%);
}

#catalog > div:not(:last-child) {
    margin-bottom: 2.5rem;
}

.slideshow-container * {
    box-sizing: border-box
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (max-width: 970px) {
    .contact-btn {
        font-size: 2rem;
    }
}

@media (max-width: 895px) {
    .contact-btn {
        width: 90%;
    }
}

@media (max-width: 770px) {
    header h1 {
        line-height: 3.95rem !important;
        font-size: 4.5rem !important;
    }

    header h2 {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 715px) {
    header {
        background: #ffffff;
        flex-direction: column;
    }

    header > .header-title {
        padding-top: 20px !important;
    }

    header > .header-buttons {
        flex-direction: row !important;
        justify-content: space-between;
    }

    header > * {
        width: 100% !important;
    }

    header > .header-buttons {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .contact-btn {
        width: 45%;
    }
}

@media (max-width: 650px) {
    .catalog-item-wrapper > div {
        height: 95vh;
        overflow-y: scroll;
        flex-direction: column;
    }

    .catalog-item-wrapper > div > * {
        width: 100% !important;
    }

    .slideshow-container {
        height: 350px;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .modal-description-container {
        padding: 0 0 10px 0 !important;
    }

    .modal-description-container p {
        height: 400px !important;
        padding: 0 !important;
    }

    #modal-close {
        z-index: 2;
    }
}

@media (max-width: 630px) {
    header {
        padding-top: 20px;
        height: auto !important;
    }

    header h1, header h2 {
        width: 100% !important;
        text-align: center;
    }

    header > .header-title {
        align-items: center;
    }

    header > .header-buttons {
        flex-direction: column !important;
        padding: 0;
    }

    .contact-btn {
        width: 100%;
    }
}
